<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <%= link_to admin_sales_new_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm", data: { turbo: false } do %>
      <i class="fas fa-plus fa-sm text-white-50"></i> Crear venta
    <% end %>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Gestion de ventas</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="mb-3">
            <%= form_with url: admin_sales_path, method: :get, local: true, class: "form-inline" do |f| %>
              <div class="form-group mr-2">
                <%= f.label :code, "Código", class: "mr-1" %>
                <%= f.text_field :code, value: params[:code], class: "form-control" %>
              </div>

              <div class="form-group mr-2">
                <%= f.label :start_date, "Desde", class: "mr-1" %>
                <%= f.date_field :start_date, value: params[:start_date], class: "form-control" %>
              </div>

              <div class="form-group mr-2">
                <%= f.label :end_date, "Hasta", class: "mr-1" %>
                <%= f.date_field :end_date, value: params[:end_date], class: "form-control" %>
              </div>

              <%= f.submit "Buscar", class: "btn btn-primary" %>
              <%= link_to "Limpiar", admin_sales_path, class: "btn btn-secondary ml-2" %>
            <% end %>
          </div><br>

          <table class="table table-bordered" id="usersTable">
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th>F. venta</th>
                <th>Comp. venta</th>
                <th>Cliente</th>
                <th>Caja</th>
                <th>Cajero</th>
                <th>Monto</th>
                <th>Tiene devoluciones?</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @sales.each_with_index do |sale, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= sale.sold_at.strftime('%d/%m/%Y %H:%M') %></td>
                  <td><strong><%= sale&.code %></strong></td>
                  <td><%= sale.client_name %></td>
                  <td><%= sale.caja.nombre %></td>
                  <td><%= sale.cajero.nombre %></td>
                  <td>$<%= sale.total_amount || "0.00" %></td>
                  <td class="text-center">
                    <% if sale&.devoluciones.any? %>
                      <button type="button" class="btn btn-success">SI</button>
                    <% else %>
                      <button type="button" class="btn btn-primary">NO</button>
                    <% end %>
                  </td>
                 
                  <td>
                      <%= link_to admin_sales_detalle_venta_path(id: sale.id), class: "btn btn-primary btn-sm" do %>
                        <span>Ver detalle</span>
                      <% end %>

                      <%= link_to admin_generar_comprobante_venta_path(id: sale.id), target: "_blank", class: "btn btn-danger btn-sm" do %>
                        <i class="fa fa-download"></i><span>Comprobante</span>
                      <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
