<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Crear nueva categoría</h1>
    <%= link_to admin_categories_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
      <i class="fas fa-arrow-left fa-sm text-white-50"></i> Volver a categorías
    <% end %>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Formulario de categoría</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                 aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Opciones</div>
              <a class="dropdown-item" href="#">Otra acción</a>
            </div>
          </div>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice] %></div>
          <% elsif flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>

          <%= simple_form_for :category, url: admin_categories_path, method: :post, html: { class: "needs-validation", id: "form-category", novalidate: false }, data: { turbo: false } do |form| %>
            
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <%= form.input :name, label: "Nombre", required: true, input_html: { class: "form-control" } %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <%= form.input :description, as: :text, label: "Descripción", required: false, input_html: { class: "form-control", rows: 3, style: "resize: vertical;" } %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="mb-4">
                  <%= form.submit 'Guardar', class: 'btn btn-success btn-block' %>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("form-category");

    form.addEventListener("submit", function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add("was-validated");
    });
  });
</script>
