<<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Admin - Productos - Editar</h1>
        <%= link_to admin_productos_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
          <i class="fas fa-arrow-left fa-sm text-white-50"></i> Volver a productos
        <% end %>
    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                                        
                    <% if flash[:notice] %>
                    <div class="alert alert-success"><%= flash[:notice] %></div>
                    <% elsif flash[:alert] %>
                    <div class="alert alert-danger"><%= flash[:alert] %></div>
                    <% end %>

                    <%= simple_form_for :product, url: admin_productos_update_path(product_id: @product.id), method: :put, html: { class: "needs-validation", id: "form-control", novalidate: false } do |form| %> 
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <%= form.input :name, label: "Nombre", required: true, input_html: { class: "form-control", id: "title" } %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <%= form.label :quantity, label: 'Cantidad', class: 'form-label' %>
                                    <%= form.number_field :quantity, label: "Cantidad", required: true, class: "form-control" %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <%= form.label :price, label: "Precio", class: 'form-label' %>
                                    <%= form.number_field :price, label: "Precio", required: true, class: "form-control" %>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <%= form.input :description, as: :text, label: "Description", required: true, input_html: { class: "form-control", rows: 2, style: "resize: vertical;"} %>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <%= form.input :image_url, label: "Imagen", required: true, input_html: { class: "form-control" } %>
                                </div>
                            </div>

                            <div class="col">
                                <div class="mb-4">
                                    <%= form.input :category_id, 
                                    label: "Category", 
                                    collection: Category.all.map { |c| [c.name, c.id] },
                                    include_blank: "Selecciona una categoria",
                                    input_html: { class: "form-select" } %>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="form-group mb-4">
                                <%= form.submit 'Save', class: 'btn btn-success btn-block' %>
                            </div>
                        </div>
            
                    <% end %>                    

                </div>
            </div>
        </div>                     
    </div>
</div>
<!-- /.container-fluid -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("form-control");

        form.addEventListener("submit", function (event) {
            if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            }
            form.classList.add("was-validated");
        });
    });
</script>
