<!-- app/views/admin/products/edit.html.erb -->
<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Admin - Productos - Editar</h1>
    <%= link_to admin_productos_path, class: "btn btn-sm btn-primary shadow-sm" do %>
      <i class="fas fa-arrow-left"></i> Volver a productos
    <% end %>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Editar producto</h6>
    </div>

    <div class="card-body">
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <% if @product.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= simple_form_for @product, url: admin_productos_update_path(product_id: @product.id), method: :put, html: { class: "needs-validation", novalidate: false }, data: { turbo: false } do |form| %>
        <%= render "form_fields", form: form %>

        <div class="row">
          <div class="col">
            <%= form.submit 'Guardar', class: 'btn btn-success btn-block' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>