<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Admin - Productos</h1>

        <% if @current_user.role == "super_admin" || @current_user.role == "admin"%>
          <%= link_to admin_productos_new_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
            <i class="fas fa-plus fa-sm text-white-50"></i> Crear Producto
          <% end %>
        <%end%>

    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Lista de productos</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <% if flash[:notice] %>
                    <div class="alert alert-success"><%= flash[:notice] %></div>
                    <% elsif flash[:alert] %>
                    <div class="alert alert-danger"><%= flash[:alert] %></div>
                    <% end %>

                    <div class="row">
                      <% @products.each do |product| %>                      

                        <!-- Producto 1 -->
                        <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card h-100 shadow-sm position-relative">
                            

                            <% if product.quantity > 0 %>
                              <span class="badge badge-success position-absolute" style="top: 0.5rem; right: 0.5rem;">
                                Disponible
                              </span>
                            <% else %>
                              <span class="badge badge-secondary position-absolute" style="top: 0.5rem; right: 0.5rem;">
                                Agotado
                              </span>
                            <% end %>

                            <img src="<%= product.image_url %>" class="card-img-top" alt="Producto 1" style="height: 180px; object-fit: cover;">
                            <div class="card-body">
                              <h5 class="card-title font-weight-bold text-primary mb-1"><%= product.name %></h5>
                              <p class="card-text text-muted small mb-2"><%= product.description %></p>
                              <p class="mb-1"><strong>Precio:</strong> $<%= product&.price %></p>
                              <p class="mb-0"><strong>Disponibilidad:</strong> En stock(<%= product.quantity %>)</p>
                              <p class="mb-0"><strong>Categoria: </strong> <%= product.category.name.upcase %></p>
                              <p class="mb-0"><strong>Codigo: </strong> <%= product.code %></p>
                            </div>

                            <% if @current_user.role == "super_admin" || @current_user.role == "admin"%>
                              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <%= link_to admin_edit_product_path(product_id: product.id), class: "btn btn-primary btn-sm" do %>
                                  <i class="fa fa-edit"></i><span>
                                  <span>Editar</span>
                                <% end %>
                                <%= link_to admin_product_sales_path(product_id: product.id), class: "btn btn-info btn-sm" do %>
                                  <i class="fa fa-shop"></i><span>
                                  <span>Ventas</span>
                                <% end %>
                                <%= link_to admin_destroy_product_path(product_id: product.id), 
                                            class: "btn btn-danger btn-sm", 
                                            data: { turbo_method: :delete }, 
                                            onclick: "return confirm('¿Estás seguro de que deseas eliminar este producto?');" do %>
                                  <i class="fa fa-trash"></i> Eliminar
                                <% end %>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>

                </div>
            </div>
        </div>                     
    </div>
</div>
<!-- /.container-fluid -->