<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Documents</h1>
        <%= link_to admin_documentos_new_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm", data: {turbo: false} do %>
            <i class="fas fa-plus fa-sm text-white-50"></i> Nuevo documento
        <% end %>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de documentos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Correlativo</th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>F. de creacion</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% @documents.each_with_index do |document, index| %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= document.correlative_code %></td>
                                <td><%= document.title %></td>
                                <td><%= document.doc_type %></td>
                                <td><%= document.created_at.strftime("%d/%m/%Y %H:%M %p") %></td>
                                <td>
                                    <%= link_to admin_documentos_edit_path(document_id: document.id), class: "btn btn-secondary btn-sm" do %> 
                                        <span><i class="fa fa-edit"></i><span>
                                    <% end %>
                                    <%= link_to admin_documentos_show_path(document_id: document.id), class: "btn btn-info btn-sm" do %> 
                                        <span><i class="fa fa-eye"></i><span>
                                    <% end %>
                                </td>
                            </tr>
                        <%end%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
