<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

        <%= link_to admin_users_path, class: "d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" do %>
          <i class="fas fa-arrow-left fa-sm text-white-50"></i> Volver a usuarios
        <% end %>
    </div>

    <!-- Content Row -->

    <div class="row">
        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                                        
                    <%= simple_form_for :user, url: admin_users_create_path, method: :post, html: { class: "needs-validation", id: "form-control", novalidate: false } do |form| %> 
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <%= form.input :first_name, label: "Nombre", required: true, input_html: { class: "form-control", id: "title" } %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <%= form.input :last_name, label: "Apellido", required: true, input_html: { class: "form-control", id: "title" } %>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                           <div class="col-sm-4">
                                <div class="mb-3">
                                    <%= form.input :email, label: "Correo electrónico", required: true, input_html: { class: "form-control", id: "title" } %>
                                </div>
                            </div>
                             <div class="col-sm-3">
                                <div class="mb-3">
                                   <%#= form.input :role, as: :select, collection: ['admin', 'cajero', 'cliente'], input_html: { class: "form-control", id: "title" }, prompt: 'Seleccione un rol' %>
                                   <%= form.input :role_id,
                                    collection: Role.all.map { |c| [c.name, c.id] },
                                    include_blank: "Selecciona un rol",
                                    input_html: { class: "form-select" } %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="mb-3">
                                <br>
                                  <%= form.input :is_valid, as: :boolean, label: " ¿Es un usuario activo?", class: 'form-control' %>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <%= form.input :password, label: "Contraseña", required: true, input_html: { class: "form-control", id: "title" } %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <%= form.input :password_confirmation, label: "Confirme la contraseña", required: true, input_html: { class: "form-control", id: "title" } %>
                                </div>
                            </div>
                        </div>

                        <br>
                    
                        <div class="row">
                            <div class="form-group mb-4">
                                <%= form.submit 'Save', class: 'btn btn-success btn-block' %>
                            </div>
                        </div>
            
                    <% end %>

                </div>
            </div>
        </div>                     
    </div>
</div>
<!-- /.container-fluid -->